
@import url("structure.css");

body {
	background: #F9F9F9 url('../images/bg.svg'); 
	background-size: 70% auto;
} 


/* Login */

.login-error {
	position: absolute;
	width: 100%;
	background: #F4B2B9;
	padding: 28px 32px;
	z-index: 99;
} .login-error a {
	text-decoration: none;
	color: #7A1B0D;
	font-size: 14px;
}

.login .left, .login .right {
	display: inline-block; 
	height: 100vh;
	overflow: hidden;
	float: left;
	position: relative;
}
.login .left {
	width: 600px;
	background: none;
	padding: 30px 100px;
}
.login .right {
	width: calc(100% - 600px);
	background: rgba(0, 0, 0, 0.2); 
}

.login .left .centerbox {
	margin-top: calc(42% + 10px);
}

.login .logo img {
	width: 70px;
	height: auto;
	opacity: 0.8;
	margin-bottom: 40px;
}

.login .right div {
	display: inline-block; 
	height: 50%;
	width: 50%;
	float: left;
}
.login .right .one { background: url('../images/tile1.jpg') no-repeat center; }
.login .right .two { background: url('../images/tile2.jpg') no-repeat center; }
.login .right .three { background: url('../images/tile3.jpg') no-repeat center; }
.login .right .four { background: url('../images/tile4.jpg') no-repeat center; }
.login .right .one, .login .right .two, .login .right .three, .login .right .four { background-size: cover; }

.login .right a {
	display: inline-block;
	position: absolute;
	top: 49%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%); 
	font-size: 70px;
	color: #FFFFFF; 
	font-weight: 700;
}

.login form label {
	text-decoration: none;
	color: #666666;
	font-size: 14px;
	margin-bottom: 30px;
}

.login form input[type="submit"] {
	display: block;
	box-sizing: border-box;
	text-decoration: none;
	color: #A5BB75;
	font-size: 15px;
	background: none;
	border: 1px solid #A5BB75;
	padding: 14px 22px;
	transition: color 0.3s, background 0.3s, border 0.3s;
} .login form input[type="submit"]:hover {
	color: #FFFFFF;
	background: #A5BB75;
	border: 1px solid #A5BB75;
	cursor: pointer;
}


/* Panel */

nav {
	width: 100%;
	background: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	display: inline-block;
	height: 88px;
	width: 100%;
} 
nav .left, nav .right {
	display: inline-block;
	min-height: 10px;
} 
nav .left { float: left; }
nav .right { float: right; }

nav .logo img {
	padding: 25px 0px;
	width: auto;
	opacity: 0.8;
} 

nav .logo img, nav li {
	height: 88px;
	border-bottom: 2px solid transparent;	
}

nav ul { list-style-type: none; }
nav li {
    float: left;
	display: -webkit-box; 
	-webkit-box-align: center;
}
nav li .text {
	display: block;
	font-size: 15px;
	padding: 12px 0px;
    color: #515f6d;
    text-decoration: none;
}
nav li .button {
	display: block;
	box-sizing: border-box;
	text-decoration: none;
	color: #A5BB75;
	font-size: 14px;
	background: none;
	border: 1px solid #A5BB75;
	padding: 11px 18px;
	margin-left: 24px;
	transition: color 0.3s, background 0.3s, border 0.3s;
} nav li .button:hover {
	color: #FFFFFF;
	background: #A5BB75;
	border: 1px solid #A5BB75;
	cursor: pointer;
}

nav li .dropdown {
	display: none;
	box-sizing: border-box;
	width: 24px;
	margin-left: 20px;
} nav li .dropdown div {
	width: 100%;
	border-radius: 1px;
	background: #595959;
	height: 2px;
	margin: 6px 0px 6px 0px;
	transition: width 0.3s, background 0.3s;
} 
nav li .dropdown:hover {
	cursor: pointer;
} 













/* Smaller than desktop */
@media (max-width: 980px) {
	.login .left {
		width: 100%;
		height: auto;
		padding: 10px 80px 60px 80px;
	}
	.login .right {
		display: none;
	}
}

/* Smaller than tablet */
@media (max-width: 750px) {
	
}

/* Smaller than mobile */
@media (max-width: 400px) {
	
}

/* Larger than mobile */
@media (min-width: 400px) {
	
}

/* Larger than tablet */
@media (min-width: 750px) {
	
}

/* Larger than desktop */
@media (min-width: 980px) {
	
}


