.bokse {
    display: inline-block;
    position: relative;
    padding: 8px;
    float: left;
    clear: both;
}

.tooltip{
    color: black;
    background: #333333;
    padding: 8px;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

#drive {
    color: white;
    background: #AD86AF;
}

#team {
    color: white;
    background: #D8A55A;
}

#karma {
    color: white;
    background: #6696AC;
}

#sjovt {
    color: white;
    background: #D26D75;
}

#aar {
    color: white;
    background: #515F6C;
}

#maal {
    color: white;
    background: #515F6C;
}

#plan {
    color: white;
    background: #515F6C;
}